@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Manrope", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos-slide {
  animation: 150s slide infinite linear;
}
.logos-slide img {
  height: 30px;
}
